<div align="center">
<%= form_for :user, url: login_create_path do |f| %>
  <div style="border:1px solid; padding:10px; max-width:300px; " >
  <% if @user.errors.any? %>
    <p>
        <% @user.errors.messages.each do |attr, msg| %>
          <% msg.each do |val| %>
            <%= val %>
            <% break %>
          <% end %>
          <% break %>
        <% end %>
    </p>
  <% else %>
    <p>Please enter your credentials below</p>
  <% end %>
  </div>

  <p>
    <%= f.label 'Username: ' %>
    <%= f.text_field :username %>
  </p>

  <p>
    <%= f.label 'Password: ' %>
    <%= f.password_field :password %>
  </p>

  <p>
  <%= submit_tag 'Login', :name => 'login' %>
  <%= submit_tag 'Add User', :name => 'add' %>
<% end %>

<table>
  <tr>
    <th>Username</th>
    <th>Password</th>
    <th>Count</th>
  </tr>
 
  <% @users.each do |user| %>
    <tr>
      <td><%= user.username %></td>
      <td><%= user.password %></td>
      <td><%= user.count %></td>
    </tr>
  <% end %>
</table>
</div>
