
<div align="center">

<%= form_for :user, url: login_signup_path do |f| %>
  <div style="border:1px solid; padding:10px; max-width:300px; " >
  <% if @user.errors.any? %>
    <p>
        <% @user.errors.messages.each do |attr, msg| %>
          <%= msg[0] %>
          <% break %>
        <% end %>
    </p>
  <% else %>
    <p>Please enter your credentials below</p>
  <% end %>
  </div>

  <p>
    <%= f.label 'Username: ' %>
    <%= f.text_field :username %>
  </p>

  <p>
    <%= f.label 'Password: ' %>
    <%= f.password_field :password %>
  </p>

  <p>
  <%= submit_tag 'Login', :name => 'login' %>
  <%= submit_tag 'Add User', :name => 'add' %>
<% end %>

<table>
  <tr>
    <th>Title</th>
    <th>Title</th>
    <th>Title</th>
    <th>Text</th>
  </tr>
 
  <% @users.each do |u| %>
    <tr>
      <td><%= u.id %></td>
      <td><%= u.username %></td>
      <td><%= u.password %></td>
      <td><%= u.count %></td>
    </tr>
  <% end %>
</table>
